.settings {

    ion-content {
        --overflow: hidden;
    }

    ion-grid {
        padding: 16px;
        padding-top: 24px;

        ion-row {
            margin-bottom: 24px;
        }
    }

    ion-item,
    ion-segment,
    .neu-button {
        --ion-item-background: transparent;

        border-radius: 10px;
        background: #f4f5f8;
        box-shadow:  5px 5px 10px #cfd0d3, -5px -5px 10px #ffffff;

        &.ion-activated,
        &.item-has-focus {
            background: #f4f5f8;
            box-shadow: inset 5px 5px 10px #cfd0d3,
                        inset -5px -5px 10px #ffffff;
        }
    }

    ion-segment {
        min-height: 44px;
    }

    .neu-button {
        align-items: center;
        border-radius: 10px;
        display: flex;
        height: 2.8em;
        justify-content: center;
        padding: 0 var(--padding-start);
        user-select: none;
    }
}
