.history-detail {
    .empty-state {
        align-items: center;
        display: flex;
        min-height: 300px;
    }

    .eyebrow {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
