.history-detail {
    ion-toolbar {
        background: var(--ion-color-secondary) !important;
    }

    ion-grid {
        padding-top: 24px;
    }

    ion-list {
        --ion-item-background: transparent;
    }

    .eyebrow {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
