.history-detail {
    ion-grid {
        padding-top: 24px;
    }

    ion-list {
        --ion-item-background: transparent;
    }

    .main {
        background: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);
        height: calc(100% - var(--offset-top));
    }

    .eyebrow {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
