.history {
    .main {
        background: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);
        height: calc(100% - var(--offset-top));
    }

    ion-list {
        --ion-item-background: transparent;
    }
}
